{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<a href="{% url 'home' %}"><img src="{% static 'log.png' %}" alt=""></a>
<nav>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <form action="{% url 'accounts:logout' %}" method="post" class="logout-link">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a href="{% url 'articles:create' %}">New article</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
    </ul>
</nav>
<div class="wrapper">
    {% block content %} {% endblock %}
</div>
</body>
</html>